<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <h1> Django Girls</h1>   

    {% for libro in libros_mostrar %}
    <div>
        <h2>Nombre {{libro.nombre }}</h2>
        <h2>Biblioteca {{libro.biblioteca.nombre}} </h2>
        <h2>Autores </h2>
        <ul>
            {% for autor in libro.autores.all %}
                <li> {{ autor.nombre }} </li>
            {% endfor %}
        </ul>
        <p>Fecha Publicacion {{ libro.fecha_publicacion }} </p>

        <h3>Idioma: {{ libro.get_idioma_display }}</h3>

        <p> Descripcion {{ libro.descripcion }}</p>
    </div>
 {%endfor%} 
 
</body>
</html>